myinves/workflow.json
{
  "name": "MyInves",
  "nodes": [
    {
      "parameters": {
        "url": "https://eodhd.com/api/real-time/IWDA.AS",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api_token",
              "value": ""
            },
            {
              "name": "fmt",
              "value": "json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -48,
        -320
      ],
      "id": "88ee9431-6f20-4933-8c86-8dfaf9240fef",
      "name": "get IWDA"
    },
    {
      "parameters": {
        "url": "https://api.metalpriceapi.com/v1/latest?",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": ""
            },
            {
              "name": "base",
              "value": "EUR"
            },
            {
              "name": "currencies",
              "value": "XAU,AED,USD"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -48,
        64
      ],
      "id": "c645c85d-58b2-471a-b46f-8a0f04255191",
      "name": "get AED, XAU, USD"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "=\n    {\n      \"asset\": \"IWDA\",\n      \"price\": {{ $json.close.toFixed(4) }}\n    }",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        176,
        -320
      ],
      "id": "9cd82e79-54be-4ec9-8de2-59f3320a6253",
      "name": "IWDA"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "=\n    {\n      \"asset\": \"GOLD\",\n      \"price\": {{ ($json.rates.EURXAU / 31.1035).toFixed(4) }}\n    }\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        176,
        -128
      ],
      "id": "aa168bc4-98b1-462d-978a-259e0eb0a90a",
      "name": "Gold"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n      \"currency\": \"AED\",\n      \"rate\": {{ $json.rates.EURAED.toFixed(4) }}\n    }\n    ",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        176,
        64
      ],
      "id": "a4c03f89-f21d-47a9-9d8c-09a3da3a4092",
      "name": "Dirham"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n      \"currency\": \"USD\",\n      \"rate\": {{ $json.rates.EURUSD.toFixed(4) }}\n    }\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        176,
        256
      ],
      "id": "b8a1ac73-bca6-40b1-8a91-ce26e59e1457",
      "name": "Dollar"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        400,
        -224
      ],
      "id": "f4a60b90-8007-47eb-82e5-c5992a5c5fa0",
      "name": "Assets"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        400,
        160
      ],
      "id": "e320bdff-3fc0-4215-8a04-7de3743018a3",
      "name": "Currencies"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "asset_prices",
          "mode": "list",
          "cachedResultName": "asset_prices"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "asset_id": "={{ $json.id }}",
            "price": "={{ $json.price }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "asset_id",
              "displayName": "asset_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "record_date",
              "displayName": "record_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "price",
              "displayName": "price",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1072,
        -320
      ],
      "id": "fa60c18f-0b1a-4990-b459-d38b1e70055d",
      "name": "insert Asset",
      "credentials": {
        "postgres": {
          "id": "AVfQqj8EbPgEXiAg",
          "name": "MYINVES_Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, name FROM assets",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -48,
        -512
      ],
      "id": "af15f5b1-d17e-429b-b60e-7150dfb1ba87",
      "name": "get Assets id",
      "credentials": {
        "postgres": {
          "id": "AVfQqj8EbPgEXiAg",
          "name": "MYINVES_Postgres"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        624,
        -320
      ],
      "id": "f22152e4-4de9-40a9-81aa-51528d779649",
      "name": "Merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d2873f6c-44b4-4164-a145-6ee5899f4d75",
              "leftValue": "={{ $json.name }}",
              "rightValue": "={{ $json.asset }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        848,
        -320
      ],
      "id": "e2514a9a-e2f9-4159-98a8-1582a9bc38e2",
      "name": "Filter"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "exchange_rates",
          "mode": "list",
          "cachedResultName": "exchange_rates"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "currency": "={{ $json.currency }}",
            "rate_to_eur": "={{ $json.rate }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "currency",
              "displayName": "currency",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "GOLD_G",
                  "value": "GOLD_G"
                },
                {
                  "name": "AED",
                  "value": "AED"
                },
                {
                  "name": "USD",
                  "value": "USD"
                },
                {
                  "name": "EUR",
                  "value": "EUR"
                }
              ]
            },
            {
              "id": "record_date",
              "displayName": "record_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "rate_to_eur",
              "displayName": "rate_to_eur",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        624,
        160
      ],
      "id": "0b2dfc2d-dc78-40d1-8660-504d7ad6b3cb",
      "name": "insert Currency",
      "credentials": {
        "postgres": {
          "id": "AVfQqj8EbPgEXiAg",
          "name": "MYINVES_Postgres"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 12 3 * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1392,
        -560
      ],
      "id": "d6996d09-9e4b-4706-88bb-f4f07f9a9a94",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH LatestPrices AS (\n    SELECT DISTINCT ON (asset_id) \n        asset_id, price, record_date\n    FROM asset_prices\n    ORDER BY asset_id, record_date DESC\n),\nLatestRates AS (\n    SELECT DISTINCT ON (currency)\n        currency, rate_to_eur, record_date\n    FROM exchange_rates\n    ORDER BY currency, record_date DESC\n),\nLatestReadings AS (\n    SELECT DISTINCT ON (asset_id)\n        asset_id, quantity, record_date\n    FROM asset_readings\n    ORDER BY asset_id, record_date DESC\n)\nSELECT \n    a.id,\n    lread.record_date AS reading_date,\n    \n    ROUND(\n        lread.quantity * COALESCE(lp.price, 1.0) * CASE \n            WHEN a.currency = 'EUR' THEN 1.0\n            ELSE COALESCE(lr.rate_to_eur, 1.0)\n        END,\n        2\n    )::TEXT AS total_value_eur\n    \nFROM assets a\nINNER JOIN LatestReadings lread ON a.id = lread.asset_id\nLEFT JOIN LatestPrices lp ON a.id = lp.asset_id\nLEFT JOIN LatestRates lr ON a.currency = lr.currency\nORDER BY total_value_eur DESC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1168,
        -560
      ],
      "id": "9030963b-19d7-42c1-93d2-37b715d97895",
      "name": "get assets snapshot",
      "credentials": {
        "postgres": {
          "id": "AVfQqj8EbPgEXiAg",
          "name": "MYINVES_Postgres"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "assets_history",
          "mode": "list",
          "cachedResultName": "assets_history"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "total_value_eur": "={{ $json.total_value_eur }}",
            "asset_id": "={{ $json.id }}",
            "record_date": "={{ $json.reading_date }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "record_date",
              "displayName": "record_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "total_value_eur",
              "displayName": "total_value_eur",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "asset_id",
              "displayName": "asset_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -944,
        -560
      ],
      "id": "4f679580-db07-4a6b-8972-ddfbac93db3f",
      "name": "save asset history",
      "credentials": {
        "postgres": {
          "id": "AVfQqj8EbPgEXiAg",
          "name": "MYINVES_Postgres"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5ba75ce3-ceba-4847-b9db-3d6069ada2dd",
              "name": "total_value_eur",
              "value": "={{ parseFloat($json.total_value_eur) }}",
              "type": "number"
            },
            {
              "id": "3bf6cb23-c9e0-47e8-8777-10dcbd55ea51",
              "name": "record_date",
              "value": "={{ $json.record_date }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -720,
        -560
      ],
      "id": "659f208c-12ee-4923-94dc-ebaa812fb28b",
      "name": "convert"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "sum",
              "field": "total_value_eur"
            },
            {
              "aggregation": "max",
              "field": "record_date"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        -496,
        -560
      ],
      "id": "5180d3cb-17dc-4ad2-bd16-6c75e8e81e1a",
      "name": "sum"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "portfolio_history",
          "mode": "list",
          "cachedResultName": "portfolio_history"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "total_value_eur": "={{ $json.sum_total_value_eur.toFixed(2) }}",
            "record_date": "={{ $json.max_record_date }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "record_date",
              "displayName": "record_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "total_value_eur",
              "displayName": "total_value_eur",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -272,
        -560
      ],
      "id": "b62c5fdc-3a65-4127-bce5-a776c8aae9ee",
      "name": "save portfolio history",
      "credentials": {
        "postgres": {
          "id": "AVfQqj8EbPgEXiAg",
          "name": "MYINVES_Postgres"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 12 17 * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -272,
        112
      ],
      "id": "4ae3b333-cd6f-4cc1-9f8a-3a00f582cc86",
      "name": "Schedule Trigger1"
    }
  ],
  "pinData": {},
  "connections": {
    "get AED, XAU, USD": {
      "main": [
        [
          {
            "node": "Dirham",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gold",
            "type": "main",
            "index": 0
          },
          {
            "node": "Dollar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get IWDA": {
      "main": [
        [
          {
            "node": "IWDA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gold": {
      "main": [
        [
          {
            "node": "Assets",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "IWDA": {
      "main": [
        [
          {
            "node": "Assets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dirham": {
      "main": [
        [
          {
            "node": "Currencies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dollar": {
      "main": [
        [
          {
            "node": "Currencies",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Currencies": {
      "main": [
        [
          {
            "node": "insert Currency",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assets": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get Assets id": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "insert Asset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "get assets snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get assets snapshot": {
      "main": [
        [
          {
            "node": "save asset history",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "save asset history": {
      "main": [
        [
          {
            "node": "convert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "convert": {
      "main": [
        [
          {
            "node": "sum",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sum": {
      "main": [
        [
          {
            "node": "save portfolio history",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "save portfolio history": {
      "main": [
        [
          {
            "node": "get Assets id",
            "type": "main",
            "index": 0
          },
          {
            "node": "get IWDA",
            "type": "main",
            "index": 0
          },
          {
            "node": "get AED, XAU, USD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "get IWDA",
            "type": "main",
            "index": 0
          },
          {
            "node": "get AED, XAU, USD",
            "type": "main",
            "index": 0
          },
          {
            "node": "get Assets id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "5868a009-f1d4-4d3f-a7da-3bf3c12a1a85",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9dee3f7e1f21e37827f81b53f114e0a9add17e2051f68706e2bb915dde28e651"
  },
  "id": "JRFYwzFZrzJbFV0uw59Cz",
  "tags": []
}