mtrack/workflow.json
{
  "name": "MTrack",
  "nodes": [
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {
          "includeBinaries": false
        }
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -448,
        336
      ],
      "id": "ea230b90-6a31-4d2d-af00-dbd63f49f42d",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT table_schema, table_name\nFROM information_schema.tables\nWHERE table_type = 'BASE TABLE' \n AND table_schema NOT IN ('pg_catalog', 'information_schema')\n ORDER BY table_schema, table_name;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -672,
        336
      ],
      "id": "22484014-7acd-46ad-8e32-a75341b6f0c5",
      "name": "check if table exists",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "ckx5wf1LMqYDiPUG",
          "name": "MTRACK_Postgres"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bd2070fe-24a9-4c79-8a46-ef44012aea1e",
              "leftValue": "={{ $json.data.map(item => item.table_name) }}",
              "rightValue": "transactions",
              "operator": {
                "type": "array",
                "operation": "contains",
                "rightType": "any"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -224,
        336
      ],
      "id": "325eeb22-78e6-493a-8ae4-3837eeb54759",
      "name": "table exists"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE EXTENSION IF NOT EXISTS \"pgcrypto\";\nCREATE TYPE category_type AS ENUM ('primary', 'secondary');\nCREATE TABLE categories (\n  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),\n  name TEXT UNIQUE NOT NULL,\n  type category_type NOT NULL,\n  created_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),\n  icon TEXT,\n  UNIQUE (name, type) \n);\nCREATE TABLE category_mappings (\n  primary_id UUID REFERENCES categories(id) ON DELETE CASCADE,\n  secondary_id UUID REFERENCES categories(id) ON DELETE CASCADE,\n  PRIMARY KEY (primary_id, secondary_id)\n);\nCREATE TABLE transactions (\n  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),\n  created_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),\n  description TEXT,\n  amount NUMERIC(12, 2) NOT NULL,\n  card TEXT,\n  card_limit NUMERIC(12, 2) NOT NULL,\n  primary_category UUID REFERENCES categories(id) ON DELETE SET NULL,\n  secondary_category UUID REFERENCES categories(id) ON DELETE SET NULL\n);\nCREATE OR REPLACE FUNCTION extract_merchant_name(tx_description TEXT)\nRETURNS TEXT AS $$\nBEGIN\n    RETURN trim(COALESCE(\n        substring(tx_description from ' at (.*?)\\. Avl'),\n        substring(tx_description from ' to (.*?) with Credit Card'),\n        tx_description \n    ));\nEND;\n$$ LANGUAGE plpgsql IMMUTABLE;\nCREATE OR REPLACE FUNCTION predict_transaction_categories(\n    p_description TEXT, \n    OUT predicted_primary_id UUID, \n    OUT predicted_secondary_id UUID\n) AS $$\nDECLARE\n    v_merchant TEXT;\nBEGIN\n    v_merchant := extract_merchant_name(p_description);\n\n    SELECT primary_category_id, secondary_category_id\n    INTO predicted_primary_id, predicted_secondary_id\n    FROM transactions\n    WHERE extract_merchant_name(description) = v_merchant\n      AND primary_category_id IS NOT NULL\n    GROUP BY primary_category_id, secondary_category_id\n    ORDER BY count(*) DESC\n    LIMIT 1;\nEND;\n$$ LANGUAGE plpgsql;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        0,
        336
      ],
      "id": "e0c10fc7-489c-4c99-a5a0-88f438c3df09",
      "name": "create",
      "credentials": {
        "postgres": {
          "id": "ckx5wf1LMqYDiPUG",
          "name": "MTRACK_Postgres"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mtrack",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -672,
        848
      ],
      "id": "4a579957-8f80-48c6-b4f0-ea29f9cdd1d5",
      "name": "Webhook",
      "webhookId": "b56534ca-02ed-4ce2-ad40-405a5f5c9411"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "transactions",
          "mode": "list",
          "cachedResultName": "transactions"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -672,
        112
      ],
      "id": "a613e326-0321-4cb3-b009-7ad2d8f933d1",
      "name": "select all",
      "credentials": {
        "postgres": {
          "id": "ckx5wf1LMqYDiPUG",
          "name": "MTRACK_Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "transactions",
          "mode": "list",
          "cachedResultName": "transactions"
        },
        "deleteCommand": "drop",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -672,
        -112
      ],
      "id": "46279c0a-a666-4a73-be3f-6552d757736f",
      "name": "drop table",
      "credentials": {
        "postgres": {
          "id": "ckx5wf1LMqYDiPUG",
          "name": "MTRACK_Postgres"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6ae8b175-0932-4d7f-a1cc-9461ee8b5a6f",
              "name": "date",
              "value": "={{ (()=>{ const m = $json.body.date.match(/\\s*(\\d+)\\s+(\\w+)\\s+(\\d+),\\s*(\\d+:\\d+)/); const months = {gen:'01',feb:'02',mar:'03',apr:'04',mag:'05',giu:'06',lug:'07',ago:'08',set:'09',ott:'10',nov:'11',dic:'12'}; return `${m[3]}-${months[m[2].toLowerCase()]}-${m[1].padStart(2,'0')}T${m[4]}:00Z`; })() }}",
              "type": "string"
            },
            {
              "id": "d72a7aa8-0d78-4eb5-9057-b40cf5a2e43f",
              "name": "amount",
              "value": "={{ parseFloat($json.body.sms.match(/AED\\s+([\\d,.]+)/)[1].replace(',', '')) }}",
              "type": "number"
            },
            {
              "id": "988c4f31-85b8-4e54-9652-05d36dbc72cc",
              "name": "description",
              "value": "={{ $json.body.sms.trim() }}",
              "type": "string"
            },
            {
              "id": "a7a3a732-a206-404c-888f-8b5ace3592c9",
              "name": "card",
              "value": "={{ $json.body.sms.match(/ending\\s+(\\d+)/)[1] }}",
              "type": "string"
            },
            {
              "id": "cb4c3a7b-7724-4b3a-b51f-d6c8c233480e",
              "name": "card_limit",
              "value": "={{ parseFloat($json.body.sms.match(/AED\\s+([\\d,.]+)/g)[$json.body.sms.match(/AED\\s+([\\d,.]+)/g).length - 1].replace('AED', '').replace(/,/g, '').trim()) }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -448,
        848
      ],
      "id": "d8c3da21-4e82-4cbf-b7eb-4cdbe27d84f1",
      "name": "extract info"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "transactions",
          "mode": "list",
          "cachedResultName": "transactions"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "created_at": "={{ $('extract info').item.json.date}}",
            "description": "={{ $('extract info').item.json.description }}",
            "amount": "={{ $('extract info').item.json.amount }}",
            "card": "={{ $('extract info').item.json.card }}",
            "card_limit": "={{ $('extract info').item.json.card_limit }}",
            "primary_category_id": "={{ $json.predicted_primary_id }}",
            "secondary_category_id": "={{ $json.predicted_secondary_id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "amount",
              "displayName": "amount",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "card",
              "displayName": "card",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "card_limit",
              "displayName": "card_limit",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "primary_category_id",
              "displayName": "primary_category_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "secondary_category_id",
              "displayName": "secondary_category_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        448,
        560
      ],
      "id": "85625521-fc6f-403c-8b8f-ae2ad667627a",
      "name": "insert transaction",
      "credentials": {
        "postgres": {
          "id": "ckx5wf1LMqYDiPUG",
          "name": "MTRACK_Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * , '{{ $json.amount }}'::numeric AS new_amount, '{{ $json.card_limit }}'::numeric AS new_limit\nFROM transactions\nWHERE card = '{{ $json.card }}' AND created_at != '{{ $json.date }}'\nORDER BY created_at DESC\nLIMIT 1",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -224,
        1016
      ],
      "id": "ce4549a9-123b-446c-a03f-572664cd487f",
      "name": "get last limit for the card",
      "credentials": {
        "postgres": {
          "id": "ckx5wf1LMqYDiPUG",
          "name": "MTRACK_Postgres"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -224,
        1432
      ],
      "id": "3b116c72-33bc-4058-8c6e-8c6b8aad8ce8",
      "name": "."
    },
    {
      "parameters": {
        "chatId": "",
        "text": "=‼️‼️ *Incongruenza rilevata per Carta {{ $json.card }}*\n\n📊 Ultimo Limite → {{ $json.card_limit }} AED  \n📊 Limite atteso → {{ ($json.card_limit - $json.new_amount).toFixed(2) }} AED  \n📊 Limite attuale → {{ $json.new_limit }} AED  \n\n❗ Differenza → {{ ($json.card_limit - $json.new_amount - $json.new_limit).toFixed(2) }} AED\n\n⚠️ Potrebbe mancare una transazione.\n\nSe vuoi aggiungerla manualmente, rispondi a questo messaggio indicando *data e ora* della transazione mancante  \n(esempio: `2026-02-18 14:35`)",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        224,
        1016
      ],
      "id": "ff72bfa6-37a4-48d6-a881-6e98147a53f8",
      "name": "send alert",
      "webhookId": "517d0b1f-eb05-4d94-a4d2-b66bde0bb7af",
      "credentials": {
        "telegramApi": {
          "id": "hdWJ1UIuFuFeBepS",
          "name": "Mtrack-bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d1365a6e-3972-44f8-aa76-415341841372",
              "leftValue": "={{ ($json.card_limit - $json.new_amount).toFixed(2) }}",
              "rightValue": "={{ parseFloat($json.new_limit).toFixed(2) }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        0,
        1016
      ],
      "id": "19c957ac-2f05-42c0-8406-2a4f7b576a0c",
      "name": "If"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 22
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -672,
        1336
      ],
      "id": "a9f0938b-c0a8-4449-a87a-1eabe733f3a4",
      "name": "Daily Summary"
    },
    {
      "parameters": {
        "chatId": "",
        "text": "=💳 *Nuova transazione ricevuta*\n\n🕒 Data: {{$json.created_at}}\n💰 Importo: AED {{$json.amount}}\n💳 Carta: **** {{$json.card}}\n📜 Categoria: {{ $json.primary_cat }}, {{ $json.secondary_cat }}\n\n📊 Limite disponibile: AED {{$json.card_limit}}\n\n✅ Transazione registrata correttamente.",
        "additionalFields": {
          "appendAttribution": false,
          "disable_notification": true,
          "disable_web_page_preview": true
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        896,
        680
      ],
      "id": "83009497-cee3-4fe9-b99b-0ac79c0b4fd5",
      "name": "send ack",
      "webhookId": "ea898af0-683e-4735-be7c-ab664b76755b",
      "credentials": {
        "telegramApi": {
          "id": "hdWJ1UIuFuFeBepS",
          "name": "Mtrack-bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH boundaries AS (\n  SELECT\n    CASE\n      WHEN EXTRACT(DAY FROM current_date) >= 3\n        THEN date_trunc('month', current_date) + interval '2 days'\n      ELSE\n        date_trunc('month', current_date) - interval '1 month' + interval '2 days'\n    END AS bank_start\n),\nweek_calc AS (\n  SELECT\n    GREATEST(\n      date_trunc('week', current_date),\n      bank_start\n    ) AS week_start,\n    LEAST(\n      date_trunc('week', current_date) + interval '7 days',\n      bank_start + interval '1 month'\n    ) AS week_end\n  FROM boundaries\n)\nSELECT SUM(amount) AS total_amount, card\nFROM transactions, week_calc\nWHERE created_at >= week_start\n  AND created_at < week_end\nGROUP BY card;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -224,
        1624
      ],
      "id": "a5b052bc-308c-4415-b660-0f51682b94a7",
      "name": "get weekly transactions",
      "credentials": {
        "postgres": {
          "id": "ckx5wf1LMqYDiPUG",
          "name": "MTRACK_Postgres"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        0,
        1624
      ],
      "id": "c2de3d52-f5a5-495a-bf76-9d96e8301ca4",
      "name": ".."
    },
    {
      "parameters": {
        "jsCode": "const transactions = $input.first().json.data;\n\nlet message = \"📅 *Resoconto Spese di Oggi \" + DateTime.now().toISODate() + \"*\\n\\n\";\nlet grandTotal = 0;\n\nfor (const item of transactions) {\n  const amount = parseFloat(item.total_amount);\n  \n  grandTotal += amount;\n  message += `💳 *Carta ${item.card}:* ${amount.toFixed(2)}\\n`;\n}\n\nmessage += `\\n➖➖➖➖➖➖➖➖\\n`;\nmessage += `💰 *TOTALE OGGI:* ${grandTotal.toFixed(2)}`;\n\nmessage += `\\n➖➖➖➖➖➖➖➖\\n`;\nmessage += `💰 *TOTALE MESE:* ${$input.first().json.total_amount}`;\n\nreturn {\n  json: {\n    telegram_text: message\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        1336
      ],
      "id": "8da1e7cb-9dfa-4036-a839-44b9a873f410",
      "name": "build daily message"
    },
    {
      "parameters": {
        "chatId": "",
        "text": "={{ $json.telegram_text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        1624
      ],
      "id": "f7e38dbb-1cb8-4437-a276-7d6b5dc085e9",
      "name": "send report",
      "webhookId": "5d197f7a-5cbd-4f67-bcb5-05b060b8b204",
      "credentials": {
        "telegramApi": {
          "id": "hdWJ1UIuFuFeBepS",
          "name": "Mtrack-bot"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtHour": 22
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -448,
        1624
      ],
      "id": "1313c145-46cf-4c76-a8c1-81020fc62e2e",
      "name": "Weekly Summary"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months",
              "triggerAtDayOfMonth": 2,
              "triggerAtHour": 22
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -448,
        1816
      ],
      "id": "419fb817-b946-4098-97de-975a48b880c9",
      "name": "Monthly Summary"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT SUM(amount) AS total_amount, card\nFROM transactions\nWHERE created_at >= (\n    CASE\n      WHEN EXTRACT(DAY FROM current_date) >= 3\n        THEN date_trunc('month', current_date) + interval '2 days'\n      ELSE\n        date_trunc('month', current_date) - interval '1 month' + interval '2 days'\n    END\n)\nAND created_at < (\n    CASE\n      WHEN EXTRACT(DAY FROM current_date) >= 3\n        THEN date_trunc('month', current_date) + interval '2 days'\n      ELSE\n        date_trunc('month', current_date) - interval '1 month' + interval '2 days'\n    END\n) + interval '1 month'\nGROUP BY card;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -224,
        1816
      ],
      "id": "197fd164-ff77-4d1b-949c-cb9e1a5a20e6",
      "name": "get monthly transactions",
      "credentials": {
        "postgres": {
          "id": "ckx5wf1LMqYDiPUG",
          "name": "MTRACK_Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT SUM(amount) AS total_amount, card\nFROM transactions\nWHERE created_at >= CURRENT_DATE\nGROUP BY card",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -448,
        1432
      ],
      "id": "c92354ef-4488-4233-8352-a7a32a14fecb",
      "name": "get daily transactions",
      "credentials": {
        "postgres": {
          "id": "ckx5wf1LMqYDiPUG",
          "name": "MTRACK_Postgres"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        0,
        1816
      ],
      "id": "be074b9f-582c-4fff-98b0-af848397b46f",
      "name": "..."
    },
    {
      "parameters": {
        "jsCode": "const transactions = $input.first().json.data;\n\nlet message = \"📅 *Resoconto Spese del Mese*\\n\\n\";\nlet grandTotal = 0;\n\n// Ordina carte per importo decrescente\ntransactions.sort((a, b) => parseFloat(b.total_amount) - parseFloat(a.total_amount));\n\nfor (const item of transactions) {\n  const amount = parseFloat(item.total_amount) || 0;\n  grandTotal += amount;\n\n  message += `💳 *Carta ${item.card}:* ${amount.toFixed(2)} AED\\n`;\n}\n\nmessage += `\\n➖➖➖➖➖➖➖➖\\n`;\nmessage += `💰 *TOTALE COMPLESSIVO:* ${grandTotal.toFixed(2)} AED`;\n\nreturn {\n  json: {\n    telegram_text: message\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        1816
      ],
      "id": "5b95c7b9-eab5-457f-aca9-1440189f1af9",
      "name": "build monthly message"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH ordered AS (\n  SELECT\n    *,\n    LAG(card_limit) OVER (\n      PARTITION BY card\n\t  ORDER BY created_at, id\n    ) AS prev_card_limit\n  FROM transactions\n)\nSELECT *\nFROM ordered\nWHERE prev_card_limit IS NOT NULL\n  AND card_limit <> prev_card_limit - amount\n  AND ROUND(card_limit, 2) <> ROUND(prev_card_limit - amount, 2)\nORDER BY card, created_at;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -672,
        -336
      ],
      "id": "9ef5d166-93f1-4c08-bb1a-76626ac6974d",
      "name": "get inconsistencies",
      "credentials": {
        "postgres": {
          "id": "ckx5wf1LMqYDiPUG",
          "name": "MTRACK_Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT SUM(amount) AS total_amount\nFROM transactions\nWHERE created_at >= (\n    CASE\n      WHEN EXTRACT(DAY FROM current_date) >= 3\n        THEN date_trunc('month', current_date) + interval '2 days'\n      ELSE\n        date_trunc('month', current_date) - interval '1 month' + interval '2 days'\n    END\n)\nAND created_at < (\n    CASE\n      WHEN EXTRACT(DAY FROM current_date) >= 3\n        THEN date_trunc('month', current_date) + interval '2 days'\n      ELSE\n        date_trunc('month', current_date) - interval '1 month' + interval '2 days'\n    END\n) + interval '1 month';\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -224,
        1240
      ],
      "id": "e9b36267-486e-45f4-ab85-7d1797ec9694",
      "name": "get monthly total so far",
      "credentials": {
        "postgres": {
          "id": "ckx5wf1LMqYDiPUG",
          "name": "MTRACK_Postgres"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        0,
        1336
      ],
      "id": "9949599b-fa4d-4481-9558-121d1909640d",
      "name": "Merge1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM predict_transaction_categories('{{ $json.description }}');",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -224,
        704
      ],
      "id": "ae554142-7a31-47ff-9ece-2752fdc83eea",
      "name": "predict categories",
      "credentials": {
        "postgres": {
          "id": "ckx5wf1LMqYDiPUG",
          "name": "MTRACK_Postgres"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        672,
        680
      ],
      "id": "68f08718-5f12-4808-807b-3ac24560d663",
      "name": "Merge2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    (SELECT name FROM categories WHERE id = '{{ $json.predicted_primary_id }}') AS primary_cat,\n    (SELECT name FROM categories WHERE id = '{{ $json.predicted_secondary_id ? $json.predicted_secondary_id :\"00000000-0000-0000-0000-000000000000\" }}') AS secondary_cat;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        448,
        800
      ],
      "id": "f5bc5854-142a-40b1-9c38-f208a3eec19a",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "ckx5wf1LMqYDiPUG",
          "name": "MTRACK_Postgres"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7aec5b26-86f2-41f9-934b-aad36b8092ca",
              "leftValue": "={{ $json.predicted_primary_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        0,
        704
      ],
      "id": "093b6621-5830-4929-8c01-8108f4cc937d",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id as predicted_primary_id , NULL as predicted_secondary_id\nFROM categories\nWHERE name = 'Other'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        224,
        680
      ],
      "id": "cf2d521c-4f89-4f64-9156-21c92674a866",
      "name": "Execute a SQL query1",
      "credentials": {
        "postgres": {
          "id": "ckx5wf1LMqYDiPUG",
          "name": "MTRACK_Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const transactions = $input.first().json.data;\n\nlet message = \"📅 *Resoconto Spese della Settimana*\\n\\n\";\nlet grandTotal = 0;\n\n// (Opzionale) Ordina le carte per importo decrescente\ntransactions.sort((a, b) => parseFloat(b.total_amount) - parseFloat(a.total_amount));\n\nfor (const item of transactions) {\n  const amount = parseFloat(item.total_amount) || 0;\n  grandTotal += amount;\n\n  message += `💳 *Carta ${item.card}:* ${amount.toFixed(2)} AED\\n`;\n}\n\nmessage += `\\n➖➖➖➖➖➖➖➖\\n`;\nmessage += `💰 *TOTALE COMPLESSIVO:* ${grandTotal.toFixed(2)} AED`;\n\nreturn {\n  json: {\n    telegram_text: message\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        1624
      ],
      "id": "5d2e5cc7-5110-4cfd-b302-6e673714698b",
      "name": "build weekly message"
    }
  ],
  "pinData": {},
  "connections": {
    "Aggregate": {
      "main": [
        [
          {
            "node": "table exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check if table exists": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "table exists": {
      "main": [
        [],
        [
          {
            "node": "create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "extract info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extract info": {
      "main": [
        [
          {
            "node": "get last limit for the card",
            "type": "main",
            "index": 0
          },
          {
            "node": "predict categories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert transaction": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get last limit for the card": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    ".": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "send alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Summary": {
      "main": [
        [
          {
            "node": "get daily transactions",
            "type": "main",
            "index": 0
          },
          {
            "node": "get monthly total so far",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get weekly transactions": {
      "main": [
        [
          {
            "node": "..",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "..": {
      "main": [
        [
          {
            "node": "build weekly message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "build daily message": {
      "main": [
        [
          {
            "node": "send report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weekly Summary": {
      "main": [
        [
          {
            "node": "get weekly transactions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monthly Summary": {
      "main": [
        [
          {
            "node": "get monthly transactions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get monthly transactions": {
      "main": [
        [
          {
            "node": "...",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get daily transactions": {
      "main": [
        [
          {
            "node": ".",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "...": {
      "main": [
        [
          {
            "node": "build monthly message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "build monthly message": {
      "main": [
        [
          {
            "node": "send report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get monthly total so far": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "build daily message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "predict categories": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "send ack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          },
          {
            "node": "insert transaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "insert transaction",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "build weekly message": {
      "main": [
        [
          {
            "node": "send report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "241652df-f2b0-4422-85fc-39bc2bb3d97b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9dee3f7e1f21e37827f81b53f114e0a9add17e2051f68706e2bb915dde28e651"
  },
  "id": "gKScnGTDx9JzDynv5olo-",
  "tags": []
}